:root {
    --logo-size: min(20vh, 15vw);
    --logo-size-min: 10em;
}

html,
body {
    font-family: 'codec-cold', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: color cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;

    display: grid;
    grid-template-rows: max(var(--logo-size), var(--logo-size-min)) auto 0.1fr;

    /* Adjust heights as needed */
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100svh;

    /* Ensure the grid takes up full viewport height */
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;

    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
}

header hobo-logo {
    position: relative;
    width: var(--logo-size);
    min-width: 10em;
    margin: 0;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
    text-align: center;
}

hobo-theme-toggle {
    position: fixed;
    width: 3em;
    height: 3em;
    padding: 1em;
    right: 0;
    top: 0;
}

hobo-type,
hobo-wave {
    justify-content: center;
    display: flex;
}

#hobo-void {
    padding: .5em 0;
    line-height: 2;
}

#hobo-founders {
    display: flex;
    justify-content: center;
    margin: 0;

    .hobo-founder {
        --founder-size: 20vw;

        display: flex;
        flex-direction: column;
        margin-top: -2em;

        picture {
            filter: grayscale(100%);
            transition: filter 0.3s;
        }

        &:hover picture {
            filter: grayscale(0%);
            transition: filter 0.5s;
        }

        .hobo-founder-description {
            line-height: 1.5;
            margin-top: -1em;
            width: var(--founder-size);

            .hobo-founder-tagline {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 0.25em;
            }

            p {
                display: inline-block;
                margin-top: 0.5em;
                font-size: 0.75em;
                width: 75%;
            }

            span,
            h2 {
                margin: 0;
            }
        }

        picture {
            display: flex;

            img {
                width: var(--founder-size);
            }
        }

        &.hobo-vlad {
            align-items: flex-end;
            text-align: left;

            .hobo-founder-tagline {
                justify-content: flex-start;
            }

            picture,
            section {
                justify-content: right;
            }
        }

        &.hobo-sefer {
            align-items: flex-start;
            text-align: right;

            .hobo-founder-tagline {
                justify-content: flex-end;
            }

            picture,
            section {
                justify-content: left;
            }
        }
    }

    @media screen and (min-width: 1280px) {
        .hobo-founder {
            padding: 0 2em;
        }
    }

    @media screen and (max-width: 1280px) {
        .hobo-founder {
            --founder-size: 30vw;

            padding: 0 .5em;
        }
    }

    @media screen and (max-width: 960px) {
        .hobo-founder {
            --founder-size: 45vw;

            margin-top: -2em;
        }
    }

    @media screen and (max-width: 640px) {
        .hobo-founder {
            font-size: 0.8rem;

            .hobo-founder-description {
                .hobo-founder-tagline {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

hobo-type,
hobo-wave {
    font-size: 0.8rem;
}

@media (max-width: 1280px) {

    hobo-type,
    hobo-wave {
        font-size: 0.75rem;
    }
}

@media (max-width: 640px) {

    hobo-type,
    hobo-wave {
        font-size: 0.6rem;
    }
}

@media  (max-width: 480px) {
    #hobo-founders {
        .hobo-founder {
            margin-top: 0;
        }
    }
}