html,
body {
    font-family: 'Biryani', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);

    display: grid;
    grid-template-rows: max(25vw, 10em) auto 0.1fr;

    /* Adjust heights as needed */
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100svh;

    /* Ensure the grid takes up full viewport height */
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;
    
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
}

header hobo-logo {
    position: relative;
    width: 25vw;
    min-width: 10em;
    margin: 0;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
    text-align: center;
}

hobo-theme-toggle {
    position: fixed;
    width: 3em;
    height: 3em;
    padding: 1em;
    right: 0;
    top: 0;
}



hobo-type,
hobo-wave {
    justify-content: center;
    display: flex;
}