:root {
    --logo-size: min(20vh, 15vw);
    --logo-size-min: 10em;
    --transition-duration: 0.5s;
    --footer-move-duration: 10s;
}

html,
body {
    font-family: 'codec-cold', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: color cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;

    display: grid;
    grid-template-rows: max(var(--logo-size), var(--logo-size-min)) auto 0.1fr;

    /* Adjust heights as needed */
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100svh;

    /* Ensure the grid takes up full viewport height */
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;

    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
}

header hobo-logo {
    position: relative;
    width: var(--logo-size);
    min-width: 10em;
    margin: 0;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
    text-align: center;
    color: var(--color-bg);
    pointer-events: none;
    z-index: 1;
}

hobo-theme-toggle {
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    padding: 1em;
    right: 0;
    top: 0;
}

hobo-type,
hobo-wave {
    justify-content: center;
    display: flex;
}

#hobo-void {
    padding: .5em 0;
    line-height: 2;
}

#hobo-founders {
    display: flex;
    justify-content: center;
    margin: 0;

    .hobo-founder {
        z-index: 1;
        --founder-size: 20vw;

        display: flex;
        flex-direction: column;
        margin-top: -2em;

        hobo-picture {
            filter: grayscale(100%);
            transition: filter 0.3s;
            user-select: none;
        }

        &:hover hobo-picture {
            filter: grayscale(0%);
            transition: filter var(--transition-duration);
        }

        .hobo-founder-description {
            line-height: 1.5;
            margin-top: -1em;
            width: var(--founder-size);

            .hobo-founder-tagline {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 0.25em;
            }

            p {
                display: inline-block;
                margin-top: 0.5em;
                font-size: 0.75em;
                width: 75%;
            }

            span,
            h2 {
                margin: 0;
            }
        }

        &.hobo-vlad {
            align-items: flex-end;
            text-align: left;

            .hobo-founder-tagline {
                justify-content: flex-start;
            }

            hobo-picture,
            section {
                justify-content: right;
            }
        }

        &.hobo-sefer {
            align-items: flex-start;
            text-align: right;

            .hobo-founder-tagline {
                justify-content: flex-end;
            }

            hobo-picture,
            section {
                justify-content: left;
            }
        }
    }

    @media screen and (min-width: 1280px) {
        .hobo-founder {
            padding: 0 2em;
        }
    }

    @media screen and (max-width: 1280px) {
        .hobo-founder {
            --founder-size: 30vw;

            padding: 0 .5em;
        }
    }

    @media screen and (max-width: 960px) {
        .hobo-founder {
            --founder-size: 45vw;

            margin-top: -2em;
        }
    }

    @media screen and (max-width: 640px) {
        .hobo-founder {
            font-size: 0.8rem;

            .hobo-founder-description {
                .hobo-founder-tagline {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

hobo-type,
hobo-wave {
    font-size: 0.8rem;
}

#hobo-footer {
    z-index: 0;
    position: fixed;
    bottom: -0.5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 101vw;
    overflow: visible;

    path {
        --path-translation: 0.1px;
        --path-rotation-start: 0deg;
        --path-rotation-end: 360deg;
        animation:
				move-footer-path 5s linear infinite,
				move-footer-path 1s linear infinite reverse paused;

			animation-composition: add;
    }

    path:nth-child(2) {
        --path-translation: -0.1px;
    }
    
    path:nth-child(3) {
        --path-rotation-start: 360deg;
        --path-rotation-end: 0deg;
    }
    
    path:nth-child(4) {
        --path-translation: -0.1px;
        --path-rotation-start: 360deg;
        --path-rotation-end: 0deg;
    }

    &:hover {
        path {
            animation-play-state: running;
        }
    }
}

/*
    -Initial rotation: rotate the element by a certain angle. This changes the coordinate system for the element.
    -Translation: move the element along the X-axis in the new coordinate system.
    -Counter-Rotation: rotate the element back by the same angle in the opposite direction.
    -> This results in the element moving along a circular path instead of rotating the element itself
*/
@keyframes move-footer-path {
    from {
        transform:
            rotate(var(--path-rotation-start))
            translateX(var(--path-translation))
            rotate(calc(-1 * var(--path-rotation-start)));
    }
    to {
        transform:
            rotate(var(--path-rotation-end))
            translateX(var(--path-translation))
            rotate(calc(-1 * var(--path-rotation-end)));
    }
}

@media (max-width: 1280px) {
    hobo-type,
    hobo-wave {
        font-size: 0.75rem;
    }
}

@media (max-width: 640px) {
    hobo-type,
    hobo-wave {
        font-size: 0.6rem;
    }
}

@media (max-width: 480px) {
    #hobo-founders {
        .hobo-founder {
            margin-top: 0;
        }
    }
}

@media (max-aspect-ratio: 4/5) {
    #hobo-footer {
        width: 200vw;
    }
}

@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 3/2) {
    #hobo-footer {
        width: 115vw;
    }
}

@media (min-aspect-ratio: 3/2) and (max-aspect-ratio: 2/1.1) {
    #hobo-footer {
        transform: translateX(-50%) translateY(15vh);
    }
}

@media (min-aspect-ratio: 2/1.1) {
    #hobo-footer {
        transform: translateX(-50%) translateY(25vh);
    }
}
