:root {
    --theme: light;

    --primary: #fa1d3c;
    --color-bg: #dcdde2;
    --color-fg: #202128;

    --color-bg-80: #1a1c28;
    --color-bg-60: #333542;
    --color-bg-40: #797c8b;
    --color-bg-20: #aeb2c6;
}

:root[data-theme='dark'] {
    --theme: dark;

    --color-bg: #202128;
    --color-fg: #dcdde2;
}
