/**
*  Adapted from: https://codepen.io/tomhazledine/pen/XWjJMPL
*/

:root {
    --inactive: #bdc3c7;

    --primary: #848ccf;
    --color-bg: #F8F4EE;
    --color-fg: #302E2C;
}

:root[data-theme='dark'] {
    --inactive: #e8ecf1;

    --color-bg: #2D2D2D;
    --color-fg: #EFEBE9;
    --primary: #fbc093;
}


.theme-mode-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    appearance: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.75rem;
    border: .15rem solid var(--inactive);
}

.theme-mode-toggle:focus,
.theme-mode-toggle:hover {
    outline: none;
    border-color: var(--primary);
}

:root[data-theme='dark'] .theme-mode-toggle__text:before {
    content: 'deactivate ';
}

:root[data-theme='light'] .theme-mode-toggle__text:before {
    content: 'activate ';
}

.theme-mode-toggle__icon {
    display: block;
    background: var(--inactive);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    transition: width 0.3s, height 0.3s;
    z-index: 1;
    transform: rotate(-20deg);
}

.theme-mode-toggle__icon:before {
    z-index: 0;
    content: '';
    position: absolute;
    display: block;
    border-right: none;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s, background-image 03s;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin__rays 4s linear infinite;
    background-image: linear-gradient(0deg,
            transparent 46%,
            var(--inactive) 46%,
            var(--inactive) 54%,
            transparent 54%),
        linear-gradient(90deg,
            transparent 46%,
            var(--inactive) 46%,
            var(--inactive) 54%,
            transparent 54%),
        linear-gradient(45deg,
            transparent 47%,
            var(--inactive) 47%,
            var(--inactive) 53%,
            transparent 53%),
        linear-gradient(135deg,
            transparent 47%,
            var(--inactive) 47%,
            var(--inactive) 53%,
            transparent 53%);
}

.theme-mode-toggle__icon:after {
    content: '';
    position: absolute;
    display: block;
    background: var(--color-bg);
    border-radius: 0.525rem;
    width: 1.05rem;
    height: 1.05rem;
    top: 50%;
    left: 200%;
    transform: translateY(-50%);
    transition: left 0.3s;
}

.theme-mode-toggle:hover .theme-mode-toggle__icon {
    background: var(--primary);
}

.theme-mode-toggle:hover .theme-mode-toggle__icon:before {
    background-image: linear-gradient(0deg,
            transparent 47%,
            var(--primary) 47%,
            var(--primary) 53%,
            transparent 53%),
        linear-gradient(90deg,
            transparent 47%,
            var(--primary) 47%,
            var(--primary) 53%,
            transparent 53%),
        linear-gradient(45deg,
            transparent 48%,
            var(--primary) 48%,
            var(--primary) 52%,
            transparent 52%),
        linear-gradient(135deg,
            transparent 48%,
            var(--primary) 48%,
            var(--primary) 52%,
            transparent 52%);
}

:root[data-theme='light'] .theme-mode-toggle__icon:after {
    left: 40%;
}

:root[data-theme='dark'] .theme-mode-toggle__icon {
    width: 1.2rem;
    height: 1.2rem;
}

:root[data-theme='dark'] .theme-mode-toggle__icon:before {
    opacity: 1;
}

@keyframes spin__rays {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.hidden--visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
